
em {
  letter-spacing: 0.55px;
  font-size: 22px;
  line-height: 28px;
  /* margin-left: 15px; */
}



.nav_item {
  font-size: 22px;
}

.topic_item {
  font-size: 30px;
}

.shbt {
  background: rgb(148, 208, 245);
  border-radius: 5px;
  padding: 6.5px 12px;
  text-align: center;
  font-size: 15px;
  margin-right: 10px;
  margin-left: 15px;
  margin-top: 5px;
}

.shbt_top {
  background: rgb(127, 121, 121);
  border-radius: 10px;
  /* padding: 12px 30px; */
  text-align: center;
  font-size: 22px;
  color: white ;
  margin-right: 10px;
  margin-left: 15px;
  height: 60px;
  width: 180px;
}


.shbt_on {
  background: rgb(18, 231, 29);
  border-radius: 5px;
  padding: 6.5px 12px;
  text-align: center;
  font-size: 15px;
  margin-right: 10px;
  margin-left: 15px;
  margin-top: 5px;
}

.shbt:hover {
  background-color: lightgreen;
  text-decoration: none;
}

.shbt:active {
  background-color: yellow;
}

.unsee_hint {
  display: none;
}

.unsee_check {
  display: none;
}

.plain_container {
  width: 97.5%;
  background: rgb(0, 221, 255);
  margin-top: 5px;
  padding: 0em;
  /* important */
  display: none;
  /* important */
  align-items: stretch;
  justify-content: space-around;
}

.unsee_child {
  display: none;
  width: 100%;
  background: white;
  color: black;
  margin: 0 .5em;
  padding: .5em;
  /* optional */
  min-height: 100%;
}

/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    /* margin: auto; */
  }
  body {
    font-family: sans-serif;
  }
  nav {
    background: #222;
    padding: 5px 20px;
  }
  ul {
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .item_on a {
    color: greenyellow;
  }

  .words_on a {
    color: black;
    text-decoration: underline;
    line-height: 1.8;
  }
  .item a:hover {
    /* text-decoration: underline; */
    color: orange;
  }
  .logo a:hover {
    text-decoration: none;
    color: orange;
  }
  .logo_on a {
    text-decoration: none;
    color: greenyellow;
  }
  .menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
  } 
  .logo a {
    font-size: 30px;
  }
  .logo_on a {
    font-size: 30px;
  }
  .toggle a {
    font-size: 20px;
  }
  .button.secondary {
    border-bottom: 1px #444 solid;
  }

  
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }
  
  /* Navbar Toggle */
  .toggle {
    cursor:pointer;
  }
  .bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  .bars:before,
  .bars:after {
    background: #999;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .bars:before {
    top: 5px;
  }
  .bars:after {
    top: -5px;
  }
  
  /* Tablet menu */
  @media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }
  
    .logo {
        flex: 1;
    }

    .logo_on {
      flex: 1;
  }
  
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        padding: 7.5px 15px;
        background: teal;
        border: 1px #006d6d solid;
        border-radius:50em;
    }
    .button.secondary a {
      background: transparent;    
  }
    .button.secondary_on a {
        background: transparent;    
        color: greenyellow;
    }
    .button a:hover {
        text-decoration: none;
        transition:all .25s;
    }
    .button:not(.secondary) a:hover {
        background: #006d6d;
        border-color: #005959;
    }
    .button.secondary a:hover {
        color: orange;
    } 
  }
  
  /* Desktop menu */
  @media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .logo_on {
      order: 0;
  }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
  }


